{% extends 'base.html.twig' %}


{% block body %}


	<img src="{{ asset('image/favicon.png') }}" alt="logo">
	<h1 class="text-5xl font-semibold text-indigo-600">Hello FROM PARIS !</h1>
	<p class="text-lg text-gray-800">It's currently
		{{"now"|date("d/m/Y")}}</p>
	<p class="text-lg text-gray-800">
		{{"now"|date("h:i A")}}</p>
	<P class="group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent ...">
		<a href="{{ path('app_about') }}" class="text-indigo-600 group-hover:text-gray-900 ...">ABOUT US</a>
	</P>


</p>{% endblock %}
